body, html {
  margin: 0;
  margin-top: 300px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rps-gr {
  position: absolute;
  animation-delay: 3s;
}

.rps-left-rock {
  left: -200px;
  top: 80%;
  animation: left-entrance 2s;
}

.rps-left-paper {
  left: -200px;
  top: 0%;
  animation: left-entrance 5s;
}

.rps-left-scissors {
  left: -200px;
  top: 50%;
  animation: left-entrance 3s;
}

@keyframes left-entrance {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  50% {
    top: 20%;
  }

  100% {
    left: 100%;
    top: 30%;
    opacity: 0;
  }
}

.rps-right-rock {
  right: -200px;
  top: 80%;
  animation: right-entrance 2s;
}

.rps-right-paper {
  right: -200px;
  top: 30%;
  animation: right-entrance 5s;
}

.rps-right-scissors {
  right: -200px;
  top: 60%;
  animation: right-entrance 3s;
}

@keyframes right-entrance {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  50% {
    top: 20%;
  }

  100% {
    right: 100%;
    top: 30%;
    opacity: 0;
  }
}
