html, body  {
  height: 93px;
  width: 100%;
  margin: 0
}

.valign {
  /* must be block or perhaps inline-block */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ccrew-battlefooter {
  height: 93px;

  background-color: black;
  color: white;

  font-family: "Raleway";
  font-size: 34px;
}

.ccrew-battlefooter .ccrew-footer-inner {
  height: 100%;
}

.ccrew-battlefooter .ccrew-footer-inner > * {
  text-align: center;
}

.ccrew-battlefooter .ccrew-battlefooter-bar {
  height: 100%;
  width: 50%;
  background-color: lightblue;

  display: inline-block;
}

.ccrew-battlefooter .ccrew-battlefooter-bar-left {
  background-color: lightgreen;
}

.ccrew-battlefooter .ccrew-battlefooter-bar-right {
  background-color: orange;
}
