body, html {
  margin: 0;
  overflow: hidden;
}

.rps-gr {
  position: absolute;
}

.rps-left-rock {
  left: -200px;
  top: 80%;
  animation: left-entrance 2s;
}

.rps-left-paper {
  left: -200px;
  top: 0%;
  animation: left-entrance 5s;
}

.rps-left-scissors {
  left: -200px;
  top: 50%;
  animation: left-entrance 3s;
}

@keyframes left-entrance {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  50% {
    top: 20%;
  }

  100% {
    left: 100%;
    top: 30%;
    opacity: 0;
  }
}
