html, body  {
  /* height: 93px; */
  /* height: 100%; */
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.valign {
  /* must be block or perhaps inline-block */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ccrew-battlefooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 93px;

  background-color: black;
  color: white;

  font-family: "Raleway";
  font-size: 34px;
}

.ccrew-battlefooter .ccrew-footer-inner {
  height: 100%;
}

.ccrew-battlefooter .ccrew-footer-inner > * {
  text-align: center;
}

.ccrew-battlefooter .ccrew-battlefooter-bar {
  box-sizing: content-box;
  height: 100%;
  width: 37%;
  width: 50%;
  width: calc(50% - 5em);

  display: inline-block;
  display: block;

  text-transform: uppercase;
  background-color: lightblue;
}

.ccrew-battlefooter .ccrew-battlefooter-bar-win {
  background-color: darkcyan;
}

.ccrew-battlefooter .ccrew-battlefooter-bar-lose {
  background-color: darkred;
}

/* -------------------------------------------------------------------------- */

.ccrew-footer .ccrew-battlefooter-element {
  /*
  position: absolute;

  display: inline-block;
  transition: 0.7s ease-out;
  */
}

.ccrew-footer .ccrew-battlefooter-bar-left {
  margin-right: -3em;
}

.ccrew-footer .ccrew-battlefooter-bar-right {
  float: right;
  right: 0;
  /*
  width: calc(50% - 3em);
  */
}

.ccrew-footer .ccrew-battlefooter-bar-middle {
  margin-left: 50%;
  transform: translateX(-50%);
}

.logobox {
  display: inline-block;
  box-sizing: content-box;

  border: 1px solid black;
  padding: 1em;

  background: white;
  color: black;

  position: absolute;
  bottom: 0;
  bottom: -0.75em;

  left: 50%;
  transform: translateX(-50%);

  font-size: 5em;

}

.rps-battlefooter {
  /* overflow: hidden; */
}
