
#teambar > .timer {
  display: block;
  left: 50%;
  top: 45px; /* 93 / 2 */
  transform: translateX(-50%) translateY(-50%);

  background-color: white;
  color: black;

  border-radius: 15px;
  /*
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 2px;

  height: 1.2em;
  */

  /* because width of text changes we set constant width of element and center
   * text */
  /* padding: 0.1em 0; */

  font-family: 'Source Code Pro', monospace;

  font-weight: normal;
  font-size: 45px;

  padding-bottom: 0.15em;
  text-align: center;

  /* the text isn't visible to begin with, so we need constant height: */
  height: 1.1em;

  /* animate width: */
  transition: 0.5s ease-out;
  width: 0px;
}

#teambar > .timer.show {
  /* because width of text changes we set constant width of element and center
   * text */
  width: 4em;
  width: 3.8em;
}

#teambar > .timer > span {
  opacity: 0;
  /* after the width of the box is 100% we can fade in the text: */
  transition-delay: 0.5s;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}

#teambar > .timer.show > span {
  opacity: 1;
}

/* add "hide" class and remove "show" to make the animations start in the
 * reverse order: */
#teambar > .timer.hide {
  transition-delay: 0.3s;
  transition-timing-function: ease-in;
}

#teambar > .timer.hide > span {
  transition-delay: 0s;
  transition-timing-function: ease;
}

#blue_progress, #red_progress {
  display: inline-block;
  transform: translateY(-65px);
  transition: 0.5s ease;
  vertical-align: middle;
}

#blue_progress.show, #red_progress.show {
  transform: translateY(0px);
}

.ccrew-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  margin: 0 0.25em;
  background-color: #666;
}

.ccrew-circle.ccrew-circle-won {
  background-color: white;
}

.ccrew-circle.ccrew-circle-lost {
  background-color: red;
}

/* #blue_progress .doneCircle {
/*   background-color: #1e88e5; /* blue darken-1 */
/* }
/*
/* #red_progress .doneCircle {
/*   background-color: #e53935; /* red darken-1 */
/* } */

.blue_team_name, .red_team_name {
  display: inline-block;
  transition: 0.7s ease-out;
}

.blue_team_name {
  transform: translateX(-100%);
}

.red_team_name {
  transform: translateX(100%);
}

.blue_team_name.show, .red_team_name.show {
  transform: translateX(0);
}

/* -------------------------------------------------------------------------- */

.ccrew-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 93px;

  overflow: hidden;

  font-size: 34px;

  background-color: black;
  color: white;

  font-family: "Raleway";
  font-weight: bold;
}

.ccrew-header .ccrew-header-element {
  position: absolute;
  top: 27px;

  display: inline-block;
  transition: 0.7s ease-out;
}

.ccrew-header .ccrew-header-left, .ccrew-header .ccrew-header-right {
  text-transform: uppercase;
}

.ccrew-header .ccrew-header-right {
  float: right;
  right: 0px;
}

.ccrew-header .ccrew-header-left {
  transform: translateX(-100%);
  padding-left: 28px;
}

.ccrew-header .ccrew-header-right {
  transform: translateX(100%);
  padding-right: 28px;
}

.ccrew-header .ccrew-header-left.show, .ccrew-header-right.show {
  transform: translateX(0%);
}

.ccrew-header .ccrew-header-middle {
  margin-left: 50%;
  transform: translateX(-50%);
}
